@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.App {
    /* min-height: 88vh; */
    background-color:black;
    height: 100vh;
    display: flex;
    align-items: center;
    /* display: flex;
    width: 50%;
    background-image: url('');
    background-size: cover;
    background-position: center; 
    background-color: rgb(144, 144, 204);
    */
    color: black;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center; 
    text-align: center;
    height: 70vh;
    /* height: 70vh; */
    padding: 10px;
    /* height: "100%"; */
    /* margin: "0em 5em 5em 0em" */
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 100%;
    font-size: 1em;
    margin: 20px 0 10px 0;
    font-weight: bold;
    /* font-family: "Work sans"; */
}

.chats {
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* height: 90vh; */
    padding: 10px;
}



.form {
    width: 100%;
    margin: 20px;
}

.full-width-drawer {
    width: 500px;
    background-color: yellow;
  }

  ::-webkit-scrollbar {
    width: 0px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgba(136, 136, 136, 0.281);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }