@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');

.App {
    min-height: 100vh;
    display: flex;
    /* background-image: url('');
    background-size: cover;
    background-position: center;
 */
    background-color: rgb(144, 144, 204);
    color: black;
}

.container {
    /* background-color: white*/
    display: flex;
    justify-content: center;
    align-items: center; 
    text-align: center;
    height: 100vh;
    margin: 5em;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 100%;
    font-size: 1em;
    margin: 20px 0 10px 0;
    font-weight: bold;
    /* font-family: "Work sans"; */
}



.form {
    width: 100%;
    margin: 20px;
}